<div>
    <h1 class='titulo-carrito'>Productos del carrito</h1>
    <input type="hidden" id="cartId" value="{{busquedaCarrito._id}}">




        {{#each busquedaCarrito.products}}
    <div class='div-carrito'>
        <div class='palabras-iconos'>
            <div class='contenido-cart'>
                <h1 class='color'>Cantidad: {{{this.quantity}}}</h1>
                <h1 class='color'>Precio por unidad: $ {{{_id.price}}} </h1>

            </div>
            <div class='botones-carrito'>
                
            </div>
        </div>
        <h1 class='color titulo-producto-carrito'>{{{_id.title}}}</h1>
        <img class='imagen-carrito' src='' />
    </div>
    {{/each}}

    <div class='totales'>
        <h4 class='cantidad-carrito'>Cantidad de productos: {{totalQuantity}}</h4>
        <h4 class='cantidad-carrito'> Total: $ {{totalCost}}</h4>
      </div>

    

      <div class='div-boton-nexo'>
          <button id="purchase" class='boton-nexo efecto'>Finalizar compra</button>
      </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/purchase.js"></script>
