<h3>aca es donde se compran los productos</h3>
<div class="container-products">
{{#each products.payload}}


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text">${{this.price}}</p>
     {{#if this._id}}
    <button id={{this._id}} class="btn btn-primary">Comprar</button>
    {{/if}}
     {{#if this.id}}
    <button id={{this.id}} class="btn btn-primary">Comprar</button>
    {{/if}}
  </div>
</div>
{{/each}}
</div>

<div class="enlacesPaginaciones">
  {{#if products.hasPrevPage}}
    <a class="enlacePaginacion" href="{{products.prevLink}}">Pagina anterior</a>
    {{/if}}
    {{#if products.hasNextPage}}
    <a class="enlacePaginacion" href="{{products.nextLink}}">Pagina siguiente</a>
    {{/if}}
</div>

<input type="hidden" id="cartId" value="{{cartId}}">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/market.js"></script>
