<h3>aca es donde se compran los productos</h3>

<div class="container-products">
{{#each docs}}


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text">${{this.price}}</p>
    <button id={{this._id}} class="btn btn-primary">Comprar</button>
  </div>
</div>
{{/each}}
</div>

<div class="enlacesPaginaciones">
  {{#if hasPrevPage}}
    <a class="enlacePaginacion" href="{{prevLink}}">Pagina anterior</a>
    {{/if}}
    {{#if hasNextPage}}
    <a class="enlacePaginacion" href="{{nextLink}}">Pagina siguiente</a>
    {{/if}}
</div>

<script src="/static/js/market.js"></script>
